/* General Styles */
body {
  background-color: #1A1A1D;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h2 {
  color: #A64D79; 
  text-align: center;
  margin-top: 20px;
}

#about {
  padding: 20px;
  text-align: center;
}

#about img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Links */
a {
  color: #6A1E55;  /* Darker pink */
  text-decoration: none;
}
a:hover {
  color: #A64D79; 
}
footer {
  background-color: #3B1C32; 
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
button {
  background-color: #6A1E55;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #A64D79;  /* Hover effect: Light pink */
}
